

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/output.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- Your custom CSS -->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/dancing-logo-design-template-fb4ae09f1db40fc3797736600f1a34a8_screen.jpg?ts=1670169896" alt="Logo" style="height:24px; display:inline-block; margin-top:-4px;">
        Admin Panel
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/admin">Dashboard</a></li>
      <li><a href="/admin/add-course">+ Add Course</a></li>
      <li><a href="admin/add-admin">+ Add Admin & User</a></li>
        <li><a href="admin/users"> Users</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout" class="btn btn-danger btn-sm navbar-btn">Logout {{user}}</a></li>
    </ul>
  </div>
</nav>
