
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}}</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">

<!-- Your custom CSS -->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/dancing-logo-design-template-fb4ae09f1db40fc3797736600f1a34a8_screen.jpg?ts=1670169896"  style="height:24px; display:inline-block; margin-top:-4px;">
        Dance Academy
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/courses">Classes</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      {{#user}}
        <li><a href="/my-bookings">My Bookings</a></li>
        <li><a href="/logout" class="btn btn-danger btn-sm navbar-btn">Logout ({{username}})</a></li>
      {{/user}}

      {{^user}}
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {{/user}}
    </ul>
  </div>
</nav>
